.wrapper_with_padding
  #note_show

    %h1.title= @note.title
    %p= simple_format(@note.content)

    .buttons
      = link_to "Edit this Note", edit_note_path, class: "button"
      = link_to "Trash this Note", note_path, method: :delete, data: { confirm: 'Do you really want to delete this note?'}, class: "button"
